# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [2]:
month = ['January', 'February', 'March', 'April', 'May']
print(month)

['January', 'February', 'March', 'April', 'May']

## 2.	Print out those variables by using a for loop

In [3]:
month = ['January', 'February', 'March', 'April', 'May']
for i in month:
  print(i)

January
February
March
April
May

## 3.	Modify your for loop to add a message to your for loop.

In [5]:
month = ['January', 'February', 'March', 'April', 'May']
for i in month:
  print("My favorite month is " + i + ".")

My favorite month is January.
My favorite month is February.
My favorite month is March.
My favorite month is April.
My favorite month is May.

## 4.	Use a for loop to print even numbers from 1-20.

In [18]:
number = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in number:
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [19]:
month = ['January', 'February', 'March', 'April', 'May']
month.sort()
print(month)

['April', 'February', 'January', 'March', 'May']

## 6.	Print out the first three elements of your list.

In [21]:
month = ['January', 'February', 'March', 'April', 'May']
print(month[0],month[1],month[2])

January February March

## 7.	Create a loop to print the last 2 elements of your list.

In [41]:
month = ['January', 'February', 'March', 'April', 'May']
for i in month:
  if int(month.index(i)) > 2:
    print(i)

April
May