# **Unit 2 Lesson 4: Looping**

## 1.	Create a list that holds 5 data variables.

In [10]:
fruits = ['apple', 'banana', 'organge', 'watermelon', 'grape']
print(fruits)

['apple', 'banana', 'organge', 'watermelon', 'grape']

## 2.	Print out those variables by using a for loop.

In [11]:
for fruit in fruits:
  print(fruit)

apple
banana
organge
watermelon
grape

## 3.	Modify your for loop to add a message to your for loop.

In [12]:
for fruit in fruits:
  print('One of my most favorite fruit is ' + fruit + ".")

One of my most favorite fruit is apple.
One of my most favorite fruit is banana.
One of my most favorite fruit is organge.
One of my most favorite fruit is watermelon.
One of my most favorite fruit is grape.

## 4.	Use a for loop to print even numbers from 1-20.

In [14]:
numbers = list(range(1,21))
for num in numbers:
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [15]:
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'organge', 'watermelon']

## 6.	Print out the first three elements of your list.

In [16]:
print(fruits[0:3])

['apple', 'banana', 'grape']

## 7.	Create a loop to print the last 2 elements of your list.

In [17]:
for fruit in fruits[-2:]:
  print(fruit)

organge
watermelon